.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 947px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 625px;
  animation-duration: 1000ms;
  margin: 57px auto 0;
}

.u-section-1 .u-list-1 {
  width: 460px;
  margin: 49px auto 0 106px;
}

.u-section-1 .u-repeater-1 {
  min-height: 118px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 10px 1px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 10px 1px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 10px 1px;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-image-1 {
  width: 79px;
  height: 45px;
  margin: -90px auto 0 11px;
}

.u-section-1 .u-list-2 {
  width: 460px;
  margin: -72px 11px 0 auto;
}

.u-section-1 .u-repeater-2 {
  min-height: 118px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 10px 1px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 10px 1px;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 10px 1px;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-image-2 {
  width: 79px;
  height: 45px;
  margin: -89px 487px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 79px;
  height: 45px;
  margin: 119px auto 0 11px;
}

.u-section-1 .u-image-4 {
  width: 79px;
  height: 45px;
  margin: -45px 487px 0 auto;
}

.u-section-1 .u-list-3 {
  width: 460px;
  margin: -74px auto 0 106px;
}

.u-section-1 .u-repeater-3 {
  min-height: 118px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 10px 1px;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px 10px 1px;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px 10px 1px;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-list-4 {
  width: 460px;
  margin: -119px 11px 0 auto;
}

.u-section-1 .u-repeater-4 {
  min-height: 118px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-10 {
  padding: 10px 10px 1px;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px 10px 1px;
}

.u-section-1 .u-text-12 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 10px 10px 1px;
}

.u-section-1 .u-text-13 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-list-5 {
  width: 460px;
  margin: 49px auto 0 106px;
}

.u-section-1 .u-repeater-5 {
  min-height: 118px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-13 {
  padding: 10px 10px 1px;
}

.u-section-1 .u-text-14 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 10px 10px 1px;
}

.u-section-1 .u-text-15 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 10px 10px 1px;
}

.u-section-1 .u-text-16 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-list-6 {
  width: 460px;
  margin: -115px 11px 0 auto;
}

.u-section-1 .u-repeater-6 {
  min-height: 118px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-16 {
  padding: 10px 10px 1px;
}

.u-section-1 .u-text-17 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-17 {
  padding: 10px 10px 1px;
}

.u-section-1 .u-text-18 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-container-layout-18 {
  padding: 10px 10px 1px;
}

.u-section-1 .u-text-19 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-image-5 {
  width: 79px;
  height: 45px;
  margin: -90px auto 0 11px;
}

.u-section-1 .u-image-6 {
  width: 79px;
  height: 45px;
  margin: -45px 487px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-1 .u-list-3 {
    margin-top: -73px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    margin-left: 80px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 461px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 461px;
  }

  .u-section-1 .u-list-3 {
    margin-left: 80px;
  }

  .u-section-1 .u-list-5 {
    margin-left: 80px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 461px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: 261px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 261px;
  }

  .u-section-1 .u-list-3 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-list-4 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-list-5 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-list-6 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    margin-right: 261px;
  }
}